@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
    @apply bg-dark text-xl
}

input:focus, .p-dropdown:focus{
    outline: none;
    @apply border-sky-800 shadow-md shadow-violet-200 transition-all duration-500
}

.p-button {
    @apply w-24 h-12 text-xl bg-amber text-dark font-semibold tracking-widest rounded-sm
}

.p-dialog {
    @apply bg-orange-100 w-5/6 px-2 drop-shadow-md rounded-md
}

.p-dropdown, input {
    @apply w-full bg-transparent border-2 border-dark border-opacity-10 rounded-md p-2 text-lg
}

.p-dropdown-header {
    @apply border-b-2 border-b-dark border-opacity-5 bg-white;
    padding: 1rem 10%;
}


.p-dropdown-items-wrapper, .p-autocomplete-items{
    @apply bg-off-white text-lg
}

.p-dropdown-item, .p-autocomplete-item {
    @apply p-2.5 px-5
}

.p-dropdown-filter-container {
    @apply relative
}

.p-dropdown-filter-container>svg {
    @apply ml-2
}

.p-dropdown-filter {
    @apply text-lg p-2 pl-8
}

.p-datatable-thead {
    @apply text-gray-400
}

.p-datatable-thead th {
    @apply py-5
}

.p-datatable-tbody {
    @apply leading-10 mt-20
}